header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
button.duplicate-btn{
     margin-left: 8px;
    background: #b4ed15;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}