header {
  display:flex;
  flex-direction:column;
  align-items:center;
}

main {
  display:flex;
  gap:20px;
  padding:20px;
}

main div {
  display:flex;
  flex-direction:column;
  align-items:center;
  
  background:#222;
  padding:20px;
  border-radius:20px;
  
  color:white;
}

img {
  max-width:200px;
}